*{
    box-sizing: border-box;
    font-family: Open Sans;
}

h1,h2,h3,h4,h5,h6{
font-family: Bree Serif;
}

h4{
    margin:0;
}
.trial{
    /* background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); */

}

