*{
    box-sizing: border-box;
    font-family: Bree Serif;
    
}

.trial{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 3vh;
    color:rgb(206,212,182);
}

.fields{
    background: rgb(74,58,53);
    color:rgb(206,212,182);
    border-radius: 6px;
    
}

p{
    color: rgb(72, 98, 19);
    margin: auto 0;
    text-align: center;
}

label{
    display:flex;
}


.logo{
    margin: 3%;
    /* background: rgb(206,212,182,.6); */
    /* border:  2px solid grey; */
}