*{
    box-sizing: border-box;
    font-family: Open Sans;
    color:rgb(13,112,121);
}

.trial{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.fields{
    background: rgb(74,58,53);
    color:rgb(206,212,182);
    border-radius: 6px;
    
}

label{
    display:flex;
}


.logo{
    margin: 3%;
    /* background: rgb(206,212,182,.6); */
    /* border:  2px solid grey; */
}