.navbar-sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    z-index: 1;

}

.restyled-nav-link {
    color: black;
}

.restyled-nav-link:hover {
    text-decoration: none;
}